<mat-sidenav-container class="container" autosize>
  <mat-sidenav #sidenav mode="push">

    <mat-nav-list>
      <mat-list-item><a mat-button routerLink="/main/todo" routerLinkActive="active-link">ToDo</a></mat-list-item>
      <mat-list-item><a mat-button routerLink="/main/posts" routerLinkActive="active-link">Posts</a></mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button class="menu" type="button" mat-mini-fab (click)="sidenav.toggle()" *ngIf="show">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="app-title">BombaSuperApp</span>
        <button routerLink="/main" routerLinkActive="active-link" mat-button (click)="switch(true)">Main </button>
        <button routerLink="/info" routerLinkActive="active-link" mat-button (click)="switch(false)">Info </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
 <div class="app-wrapper"> <router-outlet></router-outlet></div>
</mat-sidenav-container>