button {
    margin: 16px 8px;
}

.editor-input {
    padding-right: 10px;
    width: 75%;
}

.create-form {
    text-align: center;
}

.post-card {
    margin:10px 10px;
    width: calc(23.7% - 50px);
    height: 210px;
    position: relative;
    overflow: hidden;
    float:left;
}

.post{
    vertical-align: top;
}
.post-buttons {
    position: absolute;
    bottom:25px;
}