<button mat-raised-button (click)="switch(true)"> Create post </button>
<br>
<form ngNativeValidate class="create-form" *ngIf="show" (ngSubmit)="saveNewPost(name.value, surname.value, title.value, body.value)">

  <mat-form-field class="editor-input">
    <input required minlength="3" matInput #name placeholder="Name">
  </mat-form-field>

  <mat-form-field class="editor-input">
    <input required minlength="3" matInput #surname placeholder="Surname">
  </mat-form-field>
  <br>
  <mat-form-field class="editor-input">
    <input required minlength="6" matInput #title placeholder="Title">
  </mat-form-field>
  <br>
  <mat-form-field class="editor-input">
    <input required minlength="6" matInput #body placeholder="Body">
  </mat-form-field>
  <br>
  <button type="submit" mat-raised-button> Save </button>
  <button type="submit" mat-raised-button (click)="switch(false)"> Cancel </button>
</form>

<br>

<div class="post">
  <mat-card class="post-card" *ngFor="let post of postList">
    <mat-card-header>
      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle>{{post.name}} {{post.surname}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{post.body}}</p>
    </mat-card-content>
    <mat-card-actions class="post-buttons">
      <button (click)="openDialog(post)" mat-button>EDIT</button>
      <button (click)="removePost(post.id)" mat-button>DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>